<% include layout %>
<body>
<div class="container">
	<div class="item">
		<button onclick="window.location.href='/upload'" class="btn btn-primary">NEW POST</button>
	</div>
	<% posts.forEach(function(post){%>
		<div class="item w2">
			<p><%=post.name%></p><br>
			<img src="<%=post.link%>" height="100px" width="100px">
			<br>
			<div id="likes<%=post._id%>"><%=post.likes%></div>
			<span class="glyphicon glyphicon-heart" id="like" onclick="but('<%=post._id%>')"></span>
		</div>
	<%}) %>
</div>
</body>
