<%include layout %>
<body>
<div class="container">
	<% posts.forEach(function(post){%>
		<div class="item w2" id="div<%=post._id%>">
			<span class="glyphicon glyphicon-remove" id="delete" onclick="del('<%=post._id%>')"></span>
			<p><%=post.name%></p><br>
			<img src="<%=post.link%>" height="100px" width="100px">
			<br>
			<div id="likes<%=post._id%>"><%=post.likes%></div>
			<span class="glyphicon glyphicon-heart" id="like" onclick="but('<%=post._id%>')"></span>
		</div>
	<%}) %>
</div>
</body>
</html>